html{
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	background-image: url("..//assets/concrete_seamless.png");
}

section {
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

h1 {
	padding: 50px;
	font-size: 60px;
	font-family: 'pacifico';
	font-weight: lighter;
	text-shadow: 2px 2px 10px black;
	color:white;
	// text-transform: uppercase;
	letter-spacing: 40px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-weight: lighter;
	color:white;
	font-size: 30px;
	text-shadow: 2px 2px black;
	padding-bottom: 20px;
}

select#countries {
	padding-bottom: 50px;
	font-family: 'karla';
	margin:0 auto;
	// text-transform: uppercase;
	background-color: white;
	color: slategray;


}

.content {
	// width: 33.3%;
	// max-width: 500px;
	// background-color: rgba(184, 190, 199, 0.5);
	// height:350px;
	// border-radius: 35px;
	text-align: center;
}

h3{
	font-family: 'Karla', serif;
	color:slategray;
	text-shadow: 1px 1px white;

}

section.culture {
	display:flex;
	flex-direction: row;
}

section.title {
	display: flex;
	flex-direction: row;
	width:100%;
}

.headingfood, .headingart {
	width:50%;
	text-align: center;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 40px;
}

.arrows a path  {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 4px;	
}
