section.main {
	background-image: url("https://images.unsplash.com/photo-1456425731181-2152d80d946c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e11b4764934f139fbaad723dac40106e");
	background-size: cover;
	height: 100vh;
	width: 100%;
}

